$global-font-size: 112.5%;
$body-background: #fff;
$body-font-family: "Source Sans Variable", Arial, sans-serif;
$global-weight-normal: normal;
$global-lineheight: 1.618;
$body-font-color: #333;
$global-radius: 0;
$global-button-cursor: auto;
