@import "settings";
@import "util/util";
@import "fonts";
@import "normalize";
@import "base";
@import "visibility";

.container {
  padding: 10vh 10vw;
}

.feather {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: middle;
  margin-bottom: 6px;
}

.feather {
  margin-right: 1rem;
}

.measure {
  width: 35em;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}
