@import "settings";
@import "util/util";
@import "base/base";
@import "tachyons/tachyons";

// @include base-styles;
// --
@include normalize;
@include font-faces;
@include global-styles;
@include typography;
// @include forms;
// @include base-table;
// @include print-styles;

// @include tachyons;
// --
// @include background-position;
// @include background-size;
// @include borders;
// @include clears;
// @include coordinates;
@include display;
@include flexbox;
@include floats;
// @include font-family;
@include font-style;
@include font-weight;
@include heights;
@include layout-utilities;
// @include line-height;
// @include lists;
@include max-widths;
// @include negative-margins;
// @include overflow;
// @include position;
// @include foundation-responsive-embed;
@include skins;
@include spacing;
@include text-align;
@include text-transform;
@include type-scale;
@include typography-classes;
// @include vertical-align;
@include visibility;
// @include white-space;
@include widths;
// @include word-break;
// @include z-index;



h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}



.container {
  padding: 10vh 10vw;
}

.feather {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: middle;
  margin-bottom: 6px;
}
