// FLOATS
// http://tachyons.io/docs/layout/floats/

// 1. Floated elements are automatically rendered as block level elements.
// Setting floats to display inline will fix the double margin bug in
// ie6. You know... just in case.

// 2. Don't forget to clearfix your floats with .cf

// Base:
//   f = float

// Modifiers:
//   l = left
//   r = right
//   n = none



@mixin floats {
  // for each breakpoint
  @each $size in $breakpoint-classes {
    // write a mediaquery
    @include breakpoint($size) {
      // mediaquery specific
      @if $size != $-zf-zero-breakpoint {
        $bpLetter: str-slice($size, 1, 1);

        .fl-#{$bpLetter} { float: left; }
        .fr-#{$bpLetter} { float: right; }
        .fn-#{$bpLetter} { float: none; }
      }
      // default, mobile styles
      @else {
        .fl { float: left; }
        .fr { float: right; }
        .fn { float: none; }
      }
    }
  }
}
