// LAYOUT UTILITIES



@mixin layout-utilities {
  // for each breakpoint
  @each $size in $breakpoint-classes {
    // write a mediaquery
    @include breakpoint($size) {
      // mediaquery specific
      @if $size != $-zf-zero-breakpoint {
        $bpLetter: str-slice($size, 1, 1);

        .center-#{$bpLetter} {
          margin-right: auto;
          margin-left: auto;
        }
        .mr-auto-#{$bpLetter} { margin-right: auto; }
        .ml-auto-#{$bpLetter} { margin-left:  auto; }
      }
      // default, mobile styles
      @else {
        /* Equivalent to .overflow-y-scroll */
        .overflow-container {
          overflow-y: scroll;
        }

        .center {
          margin-right: auto;
          margin-left: auto;
        }
        .mr-auto { margin-right: auto; }
        .ml-auto { margin-left:  auto; }
      }
    }
  }
}
