// LINE HEIGHT / LEADING
// Docs: http://tachyons.io/docs/typography/line-height



@mixin line-height {
  // for each breakpoint
  @each $size in $breakpoint-classes {
    // write a mediaquery
    @include breakpoint($size) {
      // mediaquery specific
      @if $size != $-zf-zero-breakpoint {
        $bpLetter: str-slice($size, 1, 1);

        .lh-solid-#{$bpLetter} { line-height: $line-height-solid; }
        .lh-title-#{$bpLetter} { line-height: $line-height-title; }
        .lh-copy-#{$bpLetter}  { line-height: $line-height-copy; }
      }
      // default, mobile styles
      @else {
        .lh-solid { line-height: $line-height-solid; }
        .lh-title { line-height: $line-height-title; }
        .lh-copy  { line-height: $line-height-copy; }
      }
    }
  }
}


