// MAX WIDTHS
// Docs: http://tachyons.io/docs/layout/max-widths/

// Base:
//   mw = max-width

// Modifiers
//   1 = 1st step in width scale
//   2 = 2nd step in width scale
//   3 = 3rd step in width scale
//   4 = 4th step in width scale
//   5 = 5th step in width scale
//   6 = 6st step in width scale
//   7 = 7nd step in width scale
//   8 = 8rd step in width scale
//   9 = 9th step in width scale
//   -100 = literal value 100%
//   -none  = string value none



@mixin max-widths {
  // for each breakpoint
  @each $size in $breakpoint-classes {
    // write a mediaquery
    @include breakpoint($size) {
      // mediaquery specific
      @if $size != $-zf-zero-breakpoint {
        $bpLetter: str-slice($size, 1, 1);

        // Max Width Percentages
        .mw-100-#{$bpLetter} { max-width: 100%; }

        // Max Width Scale
        .mw1-#{$bpLetter} { max-width: $max-width-1; }
        .mw2-#{$bpLetter} { max-width: $max-width-2; }
        .mw3-#{$bpLetter} { max-width: $max-width-3; }
        .mw4-#{$bpLetter} { max-width: $max-width-4; }
        .mw5-#{$bpLetter} { max-width: $max-width-5; }
        .mw6-#{$bpLetter} { max-width: $max-width-6; }
        .mw7-#{$bpLetter} { max-width: $max-width-7; }
        .mw8-#{$bpLetter} { max-width: $max-width-8; }
        .mw9-#{$bpLetter} { max-width: $max-width-9; }

        // Max Width String Properties
        .mw-none { max-width: none; }
      }
      // default, mobile styles
      @else {
        // Max Width Percentages
        .mw-100  { max-width: 100%; }

        // Max Width Scale
        .mw1  { max-width: $max-width-1; }
        .mw2  { max-width: $max-width-2; }
        .mw3  { max-width: $max-width-3; }
        .mw4  { max-width: $max-width-4; }
        .mw5  { max-width: $max-width-5; }
        .mw6  { max-width: $max-width-6; }
        .mw7  { max-width: $max-width-7; }
        .mw8  { max-width: $max-width-8; }
        .mw9  { max-width: $max-width-9; }

        // Max Width String Properties
        .mw-none { max-width: none; }
      }
    }
  }
}
