// NEGATIVE MARGINS

// Base:
//   n = negative

// Modifiers:
//   a = all
//   t = top
//   r = right
//   b = bottom
//   l = left

//   1 = 1st step in spacing scale
//   2 = 2nd step in spacing scale
//   3 = 3rd step in spacing scale
//   4 = 4th step in spacing scale
//   5 = 5th step in spacing scale
//   6 = 6th step in spacing scale
//   7 = 7th step in spacing scale



@mixin negative-margins {
  // for each breakpoint
  @each $size in $breakpoint-classes {
    // write a mediaquery
    @include breakpoint($size) {
      // mediaquery specific
      @if $size != $-zf-zero-breakpoint {
        $bpLetter: str-slice($size, 1, 1);

        .na1-#{$bpLetter} { margin: -$spacing-extra-small; }
        .na2-#{$bpLetter} { margin: -$spacing-small; }
        .na3-#{$bpLetter} { margin: -$spacing-medium; }
        .na4-#{$bpLetter} { margin: -$spacing-large; }
        .na5-#{$bpLetter} { margin: -$spacing-extra-large; }
        .na6-#{$bpLetter} { margin: -$spacing-extra-extra-large; }
        .na7-#{$bpLetter} { margin: -$spacing-extra-extra-extra-large; }

        .nl1-#{$bpLetter} { margin-left: -$spacing-extra-small; }
        .nl2-#{$bpLetter} { margin-left: -$spacing-small; }
        .nl3-#{$bpLetter} { margin-left: -$spacing-medium; }
        .nl4-#{$bpLetter} { margin-left: -$spacing-large; }
        .nl5-#{$bpLetter} { margin-left: -$spacing-extra-large; }
        .nl6-#{$bpLetter} { margin-left: -$spacing-extra-extra-large; }
        .nl7-#{$bpLetter} { margin-left: -$spacing-extra-extra-extra-large; }

        .nr1-#{$bpLetter} { margin-right: -$spacing-extra-small; }
        .nr2-#{$bpLetter} { margin-right: -$spacing-small; }
        .nr3-#{$bpLetter} { margin-right: -$spacing-medium; }
        .nr4-#{$bpLetter} { margin-right: -$spacing-large; }
        .nr5-#{$bpLetter} { margin-right: -$spacing-extra-large; }
        .nr6-#{$bpLetter} { margin-right: -$spacing-extra-extra-large; }
        .nr7-#{$bpLetter} { margin-right: -$spacing-extra-extra-extra-large; }

        .nb1-#{$bpLetter} { margin-bottom: -$spacing-extra-small; }
        .nb2-#{$bpLetter} { margin-bottom: -$spacing-small; }
        .nb3-#{$bpLetter} { margin-bottom: -$spacing-medium; }
        .nb4-#{$bpLetter} { margin-bottom: -$spacing-large; }
        .nb5-#{$bpLetter} { margin-bottom: -$spacing-extra-large; }
        .nb6-#{$bpLetter} { margin-bottom: -$spacing-extra-extra-large; }
        .nb7-#{$bpLetter} { margin-bottom: -$spacing-extra-extra-extra-large; }

        .nt1-#{$bpLetter} { margin-top: -$spacing-extra-small; }
        .nt2-#{$bpLetter} { margin-top: -$spacing-small; }
        .nt3-#{$bpLetter} { margin-top: -$spacing-medium; }
        .nt4-#{$bpLetter} { margin-top: -$spacing-large; }
        .nt5-#{$bpLetter} { margin-top: -$spacing-extra-large; }
        .nt6-#{$bpLetter} { margin-top: -$spacing-extra-extra-large; }
        .nt7-#{$bpLetter} { margin-top: -$spacing-extra-extra-extra-large; }
      }
      // default, mobile styles
      @else {
        .na1 { margin: -$spacing-extra-small; }
        .na2 { margin: -$spacing-small; }
        .na3 { margin: -$spacing-medium; }
        .na4 { margin: -$spacing-large; }
        .na5 { margin: -$spacing-extra-large; }
        .na6 { margin: -$spacing-extra-extra-large; }
        .na7 { margin: -$spacing-extra-extra-extra-large; }

        .nl1 { margin-left: -$spacing-extra-small; }
        .nl2 { margin-left: -$spacing-small; }
        .nl3 { margin-left: -$spacing-medium; }
        .nl4 { margin-left: -$spacing-large; }
        .nl5 { margin-left: -$spacing-extra-large; }
        .nl6 { margin-left: -$spacing-extra-extra-large; }
        .nl7 { margin-left: -$spacing-extra-extra-extra-large; }

        .nr1 { margin-right: -$spacing-extra-small; }
        .nr2 { margin-right: -$spacing-small; }
        .nr3 { margin-right: -$spacing-medium; }
        .nr4 { margin-right: -$spacing-large; }
        .nr5 { margin-right: -$spacing-extra-large; }
        .nr6 { margin-right: -$spacing-extra-extra-large; }
        .nr7 { margin-right: -$spacing-extra-extra-extra-large; }

        .nb1 { margin-bottom: -$spacing-extra-small; }
        .nb2 { margin-bottom: -$spacing-small; }
        .nb3 { margin-bottom: -$spacing-medium; }
        .nb4 { margin-bottom: -$spacing-large; }
        .nb5 { margin-bottom: -$spacing-extra-large; }
        .nb6 { margin-bottom: -$spacing-extra-extra-large; }
        .nb7 { margin-bottom: -$spacing-extra-extra-extra-large; }

        .nt1 { margin-top: -$spacing-extra-small; }
        .nt2 { margin-top: -$spacing-small; }
        .nt3 { margin-top: -$spacing-medium; }
        .nt4 { margin-top: -$spacing-large; }
        .nt5 { margin-top: -$spacing-extra-large; }
        .nt6 { margin-top: -$spacing-extra-extra-large; }
        .nt7 { margin-top: -$spacing-extra-extra-extra-large; }
      }
    }
  }
}
