doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Luis Rosario
    meta(name="description", content="testing terminal.css with source sans pro")
    link(rel="preload", href="css/styles.css", as="style")
    link(rel="stylesheet", href="css/styles.css")

  body

    a(href="#main").show-for-sr Skip to main content

    .container
      header
        h1 Luis Rosario
        p.lead Web Developer
        p <abbr title="Hyper-Text Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, <abbr title="JavaScript">JS</abbr>

      main#main
        p #[svg.feather #[use(xlink:href="assets/fonts/feather-sprite.svg#map-pin")]] Rochester, NY
        //- p I love tacos and the Internet. I help make sure websites at the University of Rochester are accessible, performant, and beautiful.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dicta rerum labore consequuntur dolore cumque repudiandae! Non, expedita ea ab eos nisi, voluptate corporis voluptas veniam possimus dicta impedit eaque.
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit harum excepturi iure. Repellendus voluptatem architecto quibusdam reiciendis veniam consequatur doloribus tempora perspiciatis suscipit commodi. Atque corporis magni adipisci ullam autem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam velit impedit beatae quisquam ex eum vitae illo sunt dignissimos, voluptas quasi necessitatibus libero architecto in! Facere vel quos officia atque!
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, illum placeat corrupti voluptas quas quo nostrum rerum obcaecati recusandae quis voluptates quaerat sapiente! Aut fugit laborum laboriosam ullam illum repudiandae.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate adipisci sequi exercitationem placeat explicabo pariatur magnam totam inventore perferendis eligendi, voluptas consequatur quasi repellat mollitia cupiditate nam ut repudiandae at! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id ducimus labore reprehenderit delectus molestiae nesciunt pariatur nostrum voluptate? Provident molestiae quas, labore neque placeat quaerat aliquam magnam. Laboriosam, earum.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quaerat delectus nulla numquam vel reiciendis est labore, aperiam quod nihil eius iusto tempore maxime laborum tenetur ad! In, optio voluptate.
