*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scrollbar-color: #777 #222;
  scrollbar-width: thin; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #ebebeb;
  color: #2B2B2B;
  font-family: Arial, sans-serif;
  font-size: 100%;
  letter-spacing: -0.035em;
  line-height: 1.616;
  margin: 0;
  padding: 0; }
  body.font-loaded {
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: 0; }

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl {
  margin-top: 0; }

a {
  transition-delay: 50ms; }

.show-for-sr {
  /* https://webaim.org/techniques/css/invisiblecontent/ */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

.site-header {
  padding: 50% 3em 3em;
  padding: 20vh 20vw 10vh; }
  .site-header h1 {
    font-size: 2.25em;
    font-weight: bold;
    color: #2B2B2B;
    letter-spacing: -0.5px;
    line-height: 1.25;
    margin: 0 0 .15em; }
  .site-header a {
    display: block;
    color: inherit;
    text-decoration: none; }
    .site-header a:focus, .site-header a:hover {
      opacity: 1;
      text-decoration: underline; }
  .site-header p {
    color: #2B2B2B;
    font-family: "Source Code Pro", monospace;
    font-size: 1.25em;
    letter-spacing: -0.3px;
    line-height: 1.25;
    margin: 0 0 1.5em;
    opacity: 0.55; }
  @media print, screen and (min-width: 40em) {
    .site-header {
      padding-left: 10vw; } }

.site-nav-list {
  list-style-type: none;
  margin: 0;
  max-width: 26.25em;
  padding: 0; }
  .site-nav-list li {
    margin: 0 0 .5em; }
  .site-nav-list a {
    font-size: .75em;
    font-weight: 600;
    letter-spacing: 3.5px;
    line-height: 1.25;
    opacity: 0.5;
    padding: 1em 0;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
    transition: opacity .125s ease-out; }
  @media print, screen and (min-width: 40em) {
    .site-nav-list {
      display: flex;
      justify-content: space-between;
      margin: 0 -.75em; }
      .site-nav-list a {
        padding: 1em; } }

.site-footer {
  padding: 1rem; }
  .site-footer p {
    margin-bottom: 0;
    text-align: right;
    opacity: 0.5; }
  @media print, screen and (min-width: 64em) {
    .site-footer {
      padding-left: 5vw;
      padding-right: 5vw; } }

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-image: url("../../assets/noise-z.png"); }
