*,
*:after,
*:before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scrollbar-color: #777 #222;
  scrollbar-width: thin; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #ebebeb;
  color: #363636;
  font-family: Arial, sans-serif;
  font-size: 100%;
  letter-spacing: -0.035em;
  line-height: 1.616;
  margin: 0;
  padding: 0; }
  body.font-loaded {
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: 0; }

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl {
  margin-top: 0; }

ul {
  padding-left: 0; }

h1 {
  font-size: 1.5625rem;
  line-height: 1.28;
  margin-bottom: 0.5rem; }

.show-for-sr,
.show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.show-on-focus:active, .show-on-focus:focus {
  position: static !important;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal; }

header {
  background-color: #181818;
  color: #e3e3e3;
  min-height: 98.5vh;
  padding: 42vh 20vw 20vh; }
  header p {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 0.625rem; }
  header ul {
    font-family: "Source Code Pro", monospace;
    font-size: 0.9375rem;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    header ul:before {
      content: "["; }
    header ul:after {
      content: "]"; }
  header li {
    display: inline-block; }
    header li:not(:last-of-type):after {
      content: ","; }
  header abbr {
    text-decoration: none; }
    header abbr:before {
      content: "'"; }
    header abbr:after {
      content: "'"; }

footer {
  padding: 1rem; }
  footer p {
    margin-bottom: 0;
    text-align: right; }

.content {
  padding: 29px; }
  .content p, .content ul, .content ol {
    margin-left: auto;
    margin-right: auto;
    max-width: 35.4em; }
  @media print, screen and (min-width: 40em) {
    .content {
      font-size: 1.125rem;
      padding: 58px; } }
