.site-nav-list {
  display: flex;
  font-size: rem-calc(16);
  line-height: 1.6111;
  list-style-type: none;
  margin-bottom: 0;
  li + li {
    margin-left: 1em;
  }
  a {
    color: inherit;
    display: inline-block;
    opacity: 0.8;
    padding: .875em .5em;
    padding: 1em .5em;
    text-decoration: none;
    transition: opacity .125s ease-out;
    &:hover {
      opacity: 1;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
  @include breakpoint(large) {
    font-size: rem-calc(18);
  }
}
