.site-header {
  padding: 8em 15vw 4em;
  h1 {
    margin: 0 0 .15em;
  }
  a {
    display: block;
    color: inherit;
    text-decoration: none;
    &:focus,
    &:hover, {
      opacity: 1;
      text-decoration: underline;
    }
  }
  p {
    color: $black;
    font-family: "Source Code Pro", monospace;
    font-size: 1.25em;
    letter-spacing: -0.3px;
    line-height: 1.25;
    margin: 0 0 1.5em;
    opacity: 0.55;
  }
  @include breakpoint(medium) {
    padding: 16em 20vw 4em;
  }
  @include breakpoint(xlarge) {
    padding-top: 19em;
  }
}
