.site-header {
  padding: 50% 3em 3em;
  padding: 20vh 20vw 10vh;
  h1 {
    font-size: 2.25em;
    font-weight: bold;
    color: $black;
    letter-spacing: -0.5px;
    line-height: 1.25;
    margin: 0 0 .15em;
  }
  a {
    display: block;
    color: inherit;
    text-decoration: none;
    &:focus,
    &:hover, {
      opacity: 1;
      text-decoration: underline;
    }
  }
  p {
    color: $black;
    font-family: "Source Code Pro", monospace;
    font-size: 1.25em;
    letter-spacing: -0.3px;
    line-height: 1.25;
    margin: 0 0 1.5em;
    opacity: 0.55;
  }
  @include breakpoint(medium) {
    padding-left: 10vw;
  }
}
