.site-nav-list {
  list-style-type: none;
  margin: 0;
  max-width: 25em;
  padding: 0;
  li {
    margin: 0 0 .5em;
  }
  a {
    font-size: .75em;
    font-weight: 600;
    letter-spacing: 3.5px;
    line-height: 1.25;
    opacity: 0.6;
    padding: 1em 0;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
    transition: opacity .125s ease-out;
  }
  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    margin: 0 -.75em;
    a {
      padding: 1em;
    }
  }
}

// .site-nav-list--active {
//   a {
//     opacity: 1;
//     text-decoration: underline;
//     text-decoration-thickness: 2px;
//   }
// }
