.site-main {
  padding: 3em 15vw 5em;
}

.article {
  max-width: max-content;  // to reign in the hr element
  h2 {
    margin: 0 0 1.75em;
    + p {
      // font-size: 22px;
      font-size: 1.375em;
      letter-spacing: -0.1px;
      // line-height: 32px;
      line-height: 1.454545;
      margin-right: -1em;
      margin-bottom: 1.5em;
    }
  }

  p {
    max-width: 25em;
  }
}




@include breakpoint(medium) {
  .site-main {
    padding: 3em 20vw 5em;
  }
  .article {
    h2 + p {
      margin-right: -2em;
    }
  }
}


@include breakpoint(large) {
  .article {
    p {
      max-width: 30em;
    }
    h2 + p {
      margin-right: -4em;
    }
  }
}
