@import "site-header";
@import "site-nav";
@import "site-main";
@import "site-footer";


.container {
  background-image: url("../../assets/noise-z.png");
  min-height: 100vh;
}
.site-header,
.site-main {
  margin: auto;
  max-width: 80em;
  @include breakpoint(xxlarge) {
    padding-left: 16em;
    padding-right: 16em;
  }
}
