@import "site-header";
@import "site-nav";
@import "site-footer";

main {
  p, ul, ol {
    max-width: 35.4em;
  }
}

main > header,
.content {
  padding: 4em 3em;
  @include breakpoint(small-landscape) {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  @include breakpoint(medium) {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  @include breakpoint(xlarge) {
    padding-left: 25vw;
    padding-right: 25vw;
  }
}
