// POSITIONING
// Docs: http://tachyons.io/docs/layout/position/



@mixin position {
  // for each breakpoint
  @each $size in $breakpoint-classes {
    // write a mediaquery
    @include breakpoint($size) {
      // mediaquery specific
      @if $size != $-zf-zero-breakpoint {
        $bpLetter: str-slice($size, 1, 1);

        .static#{$bpLetter}     { position: static; }
        .relative#{$bpLetter}   { position: relative; }
        .absolute#{$bpLetter}   { position: absolute; }
        .fixed#{$bpLetter}      { position: fixed; }
      }
      // default, mobile styles
      @else {
        .static     { position: static; }
        .relative   { position: relative; }
        .absolute   { position: absolute; }
        .fixed      { position: fixed; }
      }
    }
  }
}
