// TEXT TRANSFORM
// Docs: http://tachyons.io/docs/typography/text-transform/

// Base:
//   tt = text-transform

// Modifiers
//   c = capitalize
//   l = lowercase
//   u = uppercase
//   n = none



@mixin text-transform {
  // for each breakpoint
  @each $size in $breakpoint-classes {
    // write a mediaquery
    @include breakpoint($size) {
      // mediaquery specific
      @if $size != $-zf-zero-breakpoint {
        $bpLetter: str-slice($size, 1, 1);

        .ttc-#{$bpLetter} { text-transform: capitalize; }
        .ttl-#{$bpLetter} { text-transform: lowercase; }
        .ttu-#{$bpLetter} { text-transform: uppercase; }
        .ttn-#{$bpLetter} { text-transform: none; }
      }
      // default, mobile styles
      @else {
        .ttc { text-transform: capitalize; }
        .ttl { text-transform: lowercase; }
        .ttu { text-transform: uppercase; }
        .ttn { text-transform: none; }
      }
    }
  }
}
