// TEXT ALIGN
// Docs: http://tachyons.io/docs/typography/text-align/

// Base
//   t = text-align

// Modifiers
//   l = left
//   r = right
//   c = center
//   j = justify



@mixin text-align {
  // for each breakpoint
  @each $size in $breakpoint-classes {
    // write a mediaquery
    @include breakpoint($size) {
      // mediaquery specific
      @if $size != $-zf-zero-breakpoint {
        $bpLetter: str-slice($size, 1, 1);

        .tl-#{$bpLetter}  { text-align: left; }
        .tr-#{$bpLetter}  { text-align: right; }
        .tc-#{$bpLetter}  { text-align: center; }
        .tj-#{$bpLetter}  { text-align: justify; }
      }
      // default, mobile styles
      @else {
        .tl  { text-align: left; }
        .tr  { text-align: right; }
        .tc  { text-align: center; }
        .tj  { text-align: justify; }
      }
    }
  }
}
