// WHITE SPACE




@mixin white-space {
  // for each breakpoint
  @each $size in $breakpoint-classes {
    // write a mediaquery
    @include breakpoint($size) {
      // mediaquery specific
      @if $size != $-zf-zero-breakpoint {
        $bpLetter: str-slice($size, 1, 1);

        .ws-normal-#{$bpLetter} { white-space: normal; }
        .nowrap-#{$bpLetter} { white-space: nowrap; }
        .pre-#{$bpLetter} { white-space: pre; }
      }
      // default, mobile styles
      @else {
        .ws-normal { white-space: normal; }
        .nowrap { white-space: nowrap; }
        .pre { white-space: pre; }
      }
    }
  }
}
