// Layout
// ==================================================
footer {
  padding: 1rem;
  p {
    margin-bottom: 0;
    text-align: right;
    opacity: 0.5;
  }
}



// Landing page
// ==================================================
#hero-header {
  background-color: #181818;
  color: #e3e3e3;
  min-height: 98.5vh;
  padding: 42vh 3rem 20vh;
  font-size: rem-calc(26);
  p {
    &:first-of-type {
      // font-size: rem-calc(26);
      font-size: inherit;
      line-height: 1.1538;
      margin-bottom: 0.25em;
    }
    + p {
      // font-size: rem-calc(20);
      font-size: 0.7692em;
      line-height: 1.25;
      margin-bottom: rem-calc(10);
    }
  }
  ul {
    font-family: "Source Code Pro", monospace;
    // font-size: rem-calc(15);
    // font-size: 0.9375em;
    font-size: 0.5769em;
    list-style: none;
    margin: 0;
    padding-left: 0;
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
  li {
    display: inline-block;
    // add a "," after each li except the last one
    &:not(:last-of-type) {
      &::after {
        content: ",";
      }
    }
  }
  abbr {
    text-decoration: none;
    &::before {
      content: "'";
    }
    &::after {
      content: "'";
    }
  }

  @include breakpoint(small-landscape) {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  @include breakpoint(medium) {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  @include breakpoint(xlarge) {
    font-size: rem-calc(30);
    // font-size: rem-calc(34);
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

.content {
  padding: 4em 3em;
  p, ul, ol {
    max-width: 35.4em;
  }
  @include breakpoint(small-landscape) {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  @include breakpoint(medium) {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  @include breakpoint(xlarge) {
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

// Site nav
// ==================================================
.site-nav {
  // color: #ebebeb;
  color: #e3e3e3;
  position: relative;
}

.site-nav-list {
  display: flex;
  font-size: rem-calc(16);
  justify-content: flex-end;
  line-height: 1.6111;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0.5em 1em;
  position: absolute;
  right: 0;
  li + li {
    margin-left: .5em;
  }
  a {
    color: inherit;
    display: inline-block;
    opacity: 0.8;
    padding: .875em .5em;
    text-decoration: none;
    transition: opacity .125s ease-out;
    &:hover {
      opacity: 1;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
  @include breakpoint(large) {
    font-size: rem-calc(18);
  }
}
