doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Luis Rosario
    meta(name="description", content="description")
    link(rel="preload", href="../../styles/css/styles.css", as="style")
    link(rel="stylesheet", href="../../styles/css/styles.css")

  body

    a(href="#main").show-for-sr Skip to main content

    .container

      header#hero-header
        h1 Luis Rosario
        p Web Developer
        ul
          li
            abbr(title="Hyper-Text Markup Language") HTML
          li
            abbr(title="Cascading Style Sheets") CSS
          li
            abbr(title="JavaScript") JS
          li
            abbr(title="User Interface") UI
          li
            abbr(title="User Experience") UX

      main#main
        article
          p Born in Mexico, raised in New York State. I help make sure websites at the University of Rochester are accessible, performant, and beautiful.

          ul
            li
              a(href="#") About
            li
              a(href="#") Workshop

          ul
            li
              a(href="https://github.com/Z4P0/") Github
            li
              a(href="https://twitter.com/zapo__") Last.fm
            li
              a(href="https://www.last.fm/user/space_monk-e") Twitter


        //- article
          h2 I make websites (mostly).
          p Performant, accessible, responsive, respectful
          p SEO, Drupal, Content management systems
          p Agile, design thinking

        //- section
          h2 Work
          ul
            li
              a(href="#") Ripple
            li
              a(href="#") archercom
            li
              a(href="#") AS&amp;E Priorities
            li
              a(href="#") Graduate Handbook

        //- section
          h2 Personal Projects
          ul
            li
              a(href="#") Smithers
            li
              a(href="#") Ross

      footer
        p
          small &copy; 2020

    //- script(src="../../scripts/hero-header.js")
